<!-- login.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
<h2>Login</h2>
<!-- https://kauth.kakao.com/oauth/authorize?client_id=32665db00eb9aef9b6b5246fc2a2e8b4&redirect_uri=https://localhost:8443/api/user/kakao-login&response_type=code -->
<!-- https://kauth.kakao.com/oauth/authorize?client_id=32665db00eb9aef9b6b5246fc2a2e8b4&redirect_uri=https://13.209.131.228:8443/api/user/kakao-login&response_type=code -->
<a href="https://kauth.kakao.com/oauth/authorize?client_id=32665db00eb9aef9b6b5246fc2a2e8b4&redirect_uri=https://localhost:8443/api/user/kakao-login&response_type=code"> <img src = "/image/kakao_login_button.png"></a><br>
<a href="https://kauth.kakao.com/oauth/authorize?client_id=32665db00eb9aef9b6b5246fc2a2e8b4&redirect_uri=https://13.209.131.228:8443/api/user/kakao-login&response_type=code">
  <img src = "/image/kakao_login_button.png"></a>
</body>
</html>
